.movie-datail-card {
  display: flex;
  gap: 2rem;
}
.movie-title {
  display: flex;
  align-items: center;
}
.movie-title h2 {
  margin-right: 0.5rem;
}
.movie-title-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.movie-description {
  margin-top: 1rem;
}
