.movie-datail-card {
  display: flex;
  gap: 2rem;
}
.movie-title {
  display: flex;
  align-items: center;
}
.movie-title h2 {
  margin-right: 0.5rem;
}
.movie-title-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.movie-description {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .movie-datail-card {
    justify-content: center;
    flex-wrap: wrap;
  }

  .movie-poster {
    max-height: 50dvh;
  }

  .movie-poster > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .movie-title-group {
    flex-direction: column-reverse;
  }
  .stars-rating-container {
    justify-content: center;
  }
}
