.movie-category-container h6 {
  margin: 0.5rem 0;
}

.movie-category-row {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  cursor: pointer;
}
.movie-category-row img {
  width: 320px;
}
